/* homepage.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
  }
  
  .header h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  .main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
  
}

.start-organizing-btn {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  /* Optionally, you can also style the View Favourites button */
  .view-favourites-btn {
    /* Add any additional styling for the View Favourites button */
  }
  