#categories-header {
  margin-top: 3rem;
}

.column-header {
  text-align: center;
}

.category-lightcoral {
  background-color: lightcoral;
}

.category-lightsalmon {
  background-color: lightsalmon;
}

.category-palegoldenrod {
  background-color: palegoldenrod;
}

.category-lightgreen {
  background-color: lightgreen;
}

.category-lightblue {
  background-color: lightblue;
}

.category-plum {
  background-color: plum;
}

.category-lightpink {
  background-color: lightpink;
}

.category-lightgray {
  background-color: lightgray;
}

.category-tan {
  background-color: tan;
}

.category-default {
  background-color: white;
}